.card {
  margin: 20px;

  &_img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top;
  }
  &_data {
    background-color: rgb(116, 0, 16);
    font-size: 20px;
    font-family: "Crimson Text", Georgia;
    padding: 20px;
    color: rgb(211, 166, 37);
    position: relative;
  }

}

.Ravenclaw .card_data {
  background-color: rgb(37, 98, 204);
  color: rgb(98, 233, 243);
} 


.card-logo{
  width: 50px;
  position: absolute;
  right: 55px;
  bottom: 40px;
  cursor: pointer;
}

