.card {
  margin: 10%;

  &_img {
    width: 100%;
    height: 70%;
  }
  &_data {
    background-color: rgb(116, 0, 16);
    font-family: "Crimson Text", Georgia;
    padding: 20px;
    color: rgb(211,166,37);
  }

}

.link{
    color: rgb(174, 0, 1);
    :hover {
        color: rgb(87, 10, 10);
      }
}

