.cardDetail_container {
  font-variant-ligatures: common-ligatures;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 25px;
  padding-top: 40px;
 
  border: solid 2px $textprimary;
  padding: 25px;
  &-img {
    width: 350px;
    height: 450px;
    object-fit: cover;
    object-position: top;
    mix-blend-mode: multiply;
    filter: saturate(0);
    margin-right: 25px;
    
  }
}

.container-link{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.black-line {
  background-color: $textprimary;
  width: 230px;
  height: 10px;
}

.cardDetail_container-info {
  margin: 10px 25px;
  font-size: 25px;
  width: min-content;
  
}

.fake_news {
  mix-blend-mode: multiply;
  filter: saturate(0);
}
.info_maintitle {
  font-family: $titlefont;
  font-size: 70px;
  margin-bottom: 15px;
}

.info_crest {
  mix-blend-mode: multiply;
  filter: saturate(0);
  width: 300px;


}
