// Filtro por casas
.filter_houses {
  display: flex;
  justify-content: end;
  position: absolute;
  top: 50px;
  right: 100px;
  @include mobile {
    right: 20px;
  }
  @include tablet {
    right: 60px;
  }
}

.filter_houses img {
  margin-right: 25px;
  width: 60px;
  filter: saturate(0);
  cursor: pointer;
  transform: translateY(-110px);
  transition: transform 0.2s linear;
  filter: drop-shadow(-7px 10px 2px rgba(0, 0, 0, 0.2)) sepia(70%);
  @include mobile {
    width: 20px;
    margin-right: 8px;
    transform: translateY(-70px);
  }
  @include tablet {
    width: 30px;
    margin-right: 8px;
    transform: translateY(-80px);  }
}

.filter_houses img.selected,
.filter_houses img:hover {
  transform: translateY(-80px);
  filter: drop-shadow(-7px 10px 2px rgba(0, 0, 0, 0.2));
  @include mobile {
    transform: translateY(-60px);
  }
  @include tablet {
  transform: translateY(-70px);
  }
}

// Ocultos
.screen_reader {
  display: none;
}


// Formulario
.form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 21px;
  border-top: $textprimary 2px solid;
  margin: 0 25px;
  padding: 5px 0;
  filter: blur(0.5px);
  mix-blend-mode: multiply;
  &_input {
    border-bottom: $textprimary 2px solid;
  }
  @include mobile {
    margin-bottom: 15px;
    font-size: 14px;
    margin: 0 15px;
    border-top: $textprimary 1px solid;
    flex-direction: column;
    align-items: initial;
  }
 @include tablet {
  font-size: 18px;
 }
  }


// Filtro actor/actriz
.container_actor {
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin: 18px 0;
  border-right: $textprimary 2px solid;
  border-left: $textprimary 2px solid;
  @include mobile {
    margin-top: 15px;
    margin-left: 15px;
    border-left: none;
    border-right: none;

  }
}

// Filtro nombre
.container_name {
  @include mobile {
    margin-top: 15px;
    margin-left: 15px;
  }
}

// Icono lupa
.filter_icon-search {
  mix-blend-mode: multiply;
  width: 22px;
  height: 30px;
  margin: 10px;
  @include mobile {
    width: 15px;
    height: 25px;
    margin: 0 10px;
  }
}

// Botón de reset
.filter_icon-reset {
  mix-blend-mode: multiply;
  width: 38px;
  height: 38px;
  @include mobile {
    width: 45px;
    height: 45px;
    position: absolute;
    left: 230px;
    top: 150px;
    border: $textprimary solid 1px;
    border-radius: 50px;
    padding: 5px;
  }
@include tablet {
  left: 300px;
}}

// Filtro sexo
.container_gender {
  display: flex;
  align-items: center;
  border-right: $textprimary 2px solid;
  border-left: $textprimary 2px solid;
  @include mobile {
    margin: 15px 15px;
    border-right: none;
    border-left: none;
  }
}

// filtro especie
.container_species {
  @include mobile {
    margin: 0 15px;
    position: relative;
  }
}


input:not(:checked) + label {
  color: $textsecundary;
  text-decoration: line-through;
}

input:checked + label {
  text-decoration: none;
}

.hidden {
  display: none;
}

.label {
  margin: 0 10px;
}
