.filter_houses {
  display: flex;
  justify-content: end;
  position: absolute;
  top: 50px;
  right: 150px;
}

.filter_houses img {
  margin-right: 25px;
  width: 60px;
  filter: saturate(0);
  cursor: pointer;
  transform: translateY(-110px);
  transition: transform 0.2s linear;
  filter: drop-shadow(-7px 10px 2px rgba(0,0,0,0.2)) sepia(70%);

}

.filter_houses img.selected,
.filter_houses img:hover {
  transform: translateY(-80px);
  filter: drop-shadow(-7px 10px 2px rgba(0,0,0,0.2));
}
