.form{
    display: flex;
    flex-direction: column;
    margin: 0px auto 35px 35px;
    
    &_label{
        font-size: 20px;
        padding: 10px;
        font-family: $secfont;
    }
    &_input{
        width: 30%;
        border-radius: 5px;
        padding: 5px;
        border: 1px black solid;
    }
}
.flexFilters {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.filter_resetbtn{
    width: 180px;

}
.filter_logo{
    width: 150px;
    height: 150px;
    position: relative;
}

.filter_arrow {
    width: 50px;
    height: 50px;
    transform: rotate(20deg);
}

.filter_text{
    font-family: $secfont;
    font-size: 17px;
    margin-bottom: 25px;
}

.filter_houses {
    display: flex;
}

.filter_houses img {
    width: 50px;
    filter: saturate(0);
    cursor: pointer;
}

.filter_houses img.selected, 
.filter_houses img:hover {
    filter: none;
}