.header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &_title {
    margin-top: 80px;
    font-family: $mainfont;
    font-size: 70px;
    color: rgb(211, 166, 37);
  }
}

.body {
  background-color: rgb(116, 0, 16);
}
