.header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &_title {
    margin-top: 80px;
    font-family: $mainfont;
    font-size: 70px;
    color: rgb(162, 140, 15);
  }
}

.main {
  height: 100vh;
}
